apiVersion: v1
kind: ConfigMap
metadata:
  name: dbsavior-job-init-configmap
data:
  DB_LOGIN: "{{ db_login }}"
  DB_PWD: "{{ db_pwd }}"
  DB_HOST: "{{ db_host }}"
  DB_PORT: "5432"
  TARGET_DB: "defaultdb" # the database name that you want to restore, example: defaultdb