apiVersion: v1
kind: Secret
metadata:
  name: dbsavior-job-s3-secrets
type: Opaque
stringData:
  AWS_S3_ENDPOINT: minio.lab.sspcloud.fr
  AWS_ACCESS_KEY_ID: {{ access_key }}
  AWS_SECRET_ACCESS_KEY: {{ secret_token }}
  AWS_SESSION_TOKEN: {{ session_token }}